OPEN_AI_KEY=my_api_key

POSTGRES_DB=agent_researcher
POSTGRES_USER=my_username / добавить в секреты на github
POSTGRES_PASSWORD=my_password / добавить в секреты на github
POSTGRES_HOST=postgres / для Docker, localhost локально
POSTGRES_PORT=5432

TELEGRAM_BOT_TOKEN=my_telegram_token